<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Use Cases</title>
</head>

<body>
  <h1>Hello, Customer {{Name}}</h1>

  <div>
    <a href="./CustomerViewFlights.html">
        <div>
          <h3><u>View My Flights</u></h3>
        </a>
          <p>See purchased flight information. The default should be showing for the future flights.</p>
        </div>


        <a href="./CustomerSearchFlight.html" >
        <div>
          <h3><u>Search for Flights</u></h3> 
        </a>
          <p>Search for future flights (one way or round trip) based on source city/airport name,
            destination city/airport name, dates (departure or return).</p>
        </div>    

        <a href="./CustomerPurchaseTicket.html" >
          <div>
            <h3><u>Purchase Tickets</u></h3> 
          </a>
            <p>Customer chooses a flight and purchase ticket for this flight, providing all the
              needed data, via forms. You may find it easier to implement this along with a use case to search for
              flights. .</p>
          </div>      

          <a href="./CustomerCancelFlight.html" >
            <div>
              <h3><u>Search for Flights</u></h3> 
            </a>
              <p> Customer chooses a purchased ticket for a flight that will take place more than 24 hours
                in the future and cancel the purchase. After cancellation, the ticket will no longer belong to the
                customer. The ticket will be available again in the system and purchasable by other customers..</p>
            </div>      

        <a href="./CustomerComment.html">    
        <div>
          <h3><u>Give Ratings and Comment on Previous Flights</u></h3>
        </a>
          <p>Rate and comment on previous flights.</p>
        </div>

    <a href="./CustomerSpending.html">
        <div>
          <h3><u>Track My Spending</u></h3>
        </a>
          <p> Default view will be total amount of money spent in the past year and a bar
            chart/table showing month-wise money spent for last 6 months. Specify
            a range of dates to view total amount of money spent within that range.</p>
        </div>      

    <a href="./CustomerLogout.html">
        <div>
          <h3><u>Logout</u></h3>
        </a>
          <p>Log out of the account.</p>
        </div>        

  </div>

</body>
</html> 
