<html>
<head>
</head>
<body>
<form action="/cregisterAuth" method="POST">
	<input type="text" name = "cusername" placeholder="Username" required/> </br>
	<input type="password" name = "cpassword" placeholder="Password" required/></br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>

<a href="{{ url_for('loginRedirect', acc_type='customer') }}">Login</a><br>
<a href="{{ url_for('registerRedirect', acc_type='staff') }}">Staff registration</a><br>

<a href="/">Go back</a>
</body>
</html>