<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customer Use Cases</title>
</head>

<body>
  <h1>Hello, Customer {{Name}}</h1>

  <div>
    <a href="./view_flights">
        <div>
          <h3><u>View My Flights</u></h3>
        </a>
          <p>See purchased flight information. The default should be showing for the future flights.</p>
        </div>


        <a href="/flights/search" >
        <div>
          <h3><u>Search for Flights</u></h3> 
        </a>
          <p>Search for future flights (one way or round trip) based on source city/airport name,
            destination city/airport name, dates (departure or return).</p>
        </div>      

        <a href="./add_comment">    
        <div>
          <h3><u>Give Ratings and Comment on Previous Flights</u></h3>
        </a>
          <p class="mb-0 opacity-75">Rate and comment on previous flights.</p>
        </div>

    <a href="./track_spending">
        <div>
          <h3><u>Track My Spending</u></h3>
        </a>
          <p> Default view will be total amount of money spent in the past year and a bar
            chart/table showing month-wise money spent for last 6 months. Specify
            a range of dates to view total amount of money spent within that range.</p>
        </div>      

    <a href="./logout">
        <div>
          <h3><u>Logout</u></h3>
        </a>
          <p>Log out of the account.</p>
        </div>        

  </div>

</body>
</html> 
