<!doctype html>
<html>
<head>
<meta charset='utf-8'>
<meta name='viewport' content='width=device-width, initial-scale=1'>
<title>Customer Spending</title>

	<form action = "" method = "post">
		<div>
            <div> <label>From</label> <input name = "From" type="datetime-local"> </div>
            <div> <label>To</label> <input name = "To" type="datetime-local"> </div>
            <div> <label>Search</label> <button type = "submit">Show trips</i></button> </div>
		</div>
	</form>
	
{% extends "flight/customer_base.html" %}
{% block content %}

	<table id="data">
    <thead>
      <tr>
        <th>Year</th>
        <th>Month</th>
		<th>Sum</th>
      </tr>
    </thead>
    <tbody>

      {% for flight in flights %}

        <tr>
          <td>{{ flight.year }}</td>
          <td>{{ flight.month }}</td>
          <td>{{ flight.sum }}</td>
        </tr>

      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}
	</body>
</html>