<!doctype html>
<html>
<head>
<meta charset='utf-8'>

<h2><u>Your Existing Flights</u></h2>	
{% extends "flight/customer_base.html" %}
{% block content %}
	<table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Airline Name</th>
        <th>Flight Number</th>
		<th>Departure Date</th>
		<th>Departure Airport</th>
		<th>Arrival Date</th>
		<th>Arrival Airport</th>
		<th>Base Price</th>
		<th>Airplane ID</th>
		<th>Airline Name</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for flight in flights %}
        <tr>
          <td>{{ flight.airline_name }}</td>
          <td>{{ flight.flight_num }}</td>
          <td>{{ flight.depart_datetime }}</td>
          <td>{{ flight.depart_airport }}</td>
          <td>{{ flight.arrival_datetime }}</td>
          <td>{{ flight.arrival_airport }}</td>
          <td>{{ flight.base_price }}</td>
          <td>{{ flight.airplane_ID }}</td>
          <td>{{ flight.airplane_airline_name }}</td>
          <td>{{ flight.status }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  
{% endblock %}



<title><u>Search Flight</u></title>
</head>
	<body>
    <h2><u>Search for a new Flight</u></h2>
	<form action = "" method = "post">
			<div>
            <input type="text" name="Source" placeholder="Leaving From" required>
            <input type="text" name="Flight Number" placeholder="Going To" required><br>
            <input type="datetime-local" name="ADate" placeholder="Date of Departure" required="">
            <input type="datetime-local" name="RDate" placeholder="Date of Return"><br>
            <button type = "submit">View Flights</button> 
            </div>
	</form>
<br>
	</body>

</html>