<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    	<title>Search Flights</title>
    </head>
<form action= "" method="post">

<h1>Search Flights</h1>
<div>
<input type="text" name="Source" placeholder="Leaving From" required>
<input type="text" name="Flight Number" placeholder="Going To" required>

<input type="datetime-local" name="ADate" placeholder="Date of Departure" required="">
<input type="datetime-local" name="RDate" placeholder="Date of Return">
</div>
<br>

<div>
    <label for="RT">Round Trip</label>
    <input type="radio" name="trip" value="Round Trip" required="">
</div>

<div>
    <label for="OW">One way</label>
    <input type="radio" name="trip" value="One Way" required="">
</div>
<br>
<button type="submit" name="" value="Search">Search Flights </button>
<br>
</form>
<html>
