<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Landing Page</title>
    <style>
    table, th, td {
        border: 1px solid black;
    }
    * {
        margin: 10px;
    }
    </style>
</head>
<body>

<div>
    <h1 style="float:left">Welcome, guest!</h1>
    <p style="float:right">You are not logged in and may only view public data.</p><br>
    <a href="/cloginAuth" style="float:right">Customer login</a>
    <a href="/cregisterAuth" style="float:right">Customer registration</a>
    <a href="/sloginAuth" style="float:right">Staff login</a>
    <a href="/sregisterAuth" style="float:right">Staff registration</a>
</div>
<br>
<form action="/psearch" method="POST" style="margin:0px">
    <input type="text" name="psearchf" placeholder="Search flights"/>
    <input type="submit" value="Search"/>
    {% if err %}
        <p style="color:red">Please enter something to search for!</p>
    {% else %}
    {% endif %}
</form>

<table style="text-align:left">
    {% if flights %}
        <th style>Airline</th>
        <th>Flight Number</th>
        <th>Departure Date</th>
        <th>Arrival Date</th>
        {% for elem in flights %}
            <tr>
                {% for data in elem %}
                    <td> {{ data }} </td>
                {% endfor %}
            </tr>
        {% endfor %}
    {% else %}
        <p>There are currently no flights to display</p>
    {% endif %}
</table>



</body>
</html>