<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form action ="/loginAuth" method="POST">
    <input type="text" name="username" placeholder="Username" required/> </br>
    <input type="password" name="password" placeholder="Password" required/> </br>
    <input type="submit" value=Login />
    {% if error %}
        <p class="error"><strong>Error:</strong> {{error}}</p>
    {% endif %}
    {% if success %}
        <p class="success"> <strong>{{success}}</strong></p>
    {% endif %}

</form>
</body>
</html>