<html>
<head>
</head>
<body>
<form action="/sregisterAuth" method="POST">
	Username: <input type="text" name = "username" placeholder="username" required/> </br>
	Password: <input type="password" name = "password" placeholder="password" required/></br>
	Airline Name: <input type="text" name = "airline_name" placeholder="airline name" required/></br>
	First Name: <input type="text" name = "fname" placeholder="first name" required/></br>
	Last Name: <input type="text" name = "lname" placeholder="last name" required/></br>
	Date of Birth: <input type="date" name = "dob" placeholder="YYYY-MM-DD" required pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}"/></br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/">Go back</a>
</body>
</html>